flows.json
[
    {
        "id": "2f177b71cb261a15",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb4d148084c498f0",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "isrgrootx1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "85ec4455282296a8",
        "type": "mqtt-broker",
        "name": "MyMQTT",
        "broker": "7c37a402b8fa4228953fa73232f36021.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "bb4d148084c498f0",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6054a34e6bc2d149",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "77a42ab0aca7efda",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ebebf10769c21b34",
        "type": "ui_group",
        "name": "Sensor: ",
        "tab": "6054a34e6bc2d149",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a085143861f264db",
        "type": "ui_group",
        "name": "Motor",
        "tab": "6054a34e6bc2d149",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0eb590a7b152aa64",
        "type": "ui_spacer",
        "z": "2f177b71cb261a15",
        "name": "spacer",
        "group": "a085143861f264db",
        "order": 1,
        "width": 3,
        "height": 1
    },
    {
        "id": "2f6bf4c54b4e3f39",
        "type": "ui_spacer",
        "z": "2f177b71cb261a15",
        "name": "spacer",
        "group": "a085143861f264db",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "5f05c63857764233",
        "type": "mqtt in",
        "z": "2f177b71cb261a15",
        "name": "",
        "topic": "sensor/moisture",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "85ec4455282296a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "773d6245ec318b61",
                "63ef922580f6c9a6",
                "dc34509368e28b5b",
                "5bf4fe8b31592745"
            ]
        ]
    },
    {
        "id": "773d6245ec318b61",
        "type": "debug",
        "z": "2f177b71cb261a15",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "63ef922580f6c9a6",
        "type": "ui_chart",
        "z": "2f177b71cb261a15",
        "name": "",
        "group": "ebebf10769c21b34",
        "order": 1,
        "width": 8,
        "height": 5,
        "label": "Moisture",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 340,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "dc34509368e28b5b",
        "type": "ui_text",
        "z": "2f177b71cb261a15",
        "group": "ebebf10769c21b34",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Moisture(%): ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "381fbadf1320ea88",
        "type": "mqtt out",
        "z": "2f177b71cb261a15",
        "name": "",
        "topic": "motor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85ec4455282296a8",
        "x": 430,
        "y": 420,
        "wires": []
    },
    {
        "id": "c5fbea4ab075e645",
        "type": "ui_button",
        "z": "2f177b71cb261a15",
        "name": "",
        "group": "a085143861f264db",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Irrigate",
        "tooltip": "",
        "color": "Cyan",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "motor",
        "topicType": "msg",
        "x": 180,
        "y": 420,
        "wires": [
            [
                "381fbadf1320ea88"
            ]
        ]
    },
    {
        "id": "5bf4fe8b31592745",
        "type": "ui_gauge",
        "z": "2f177b71cb261a15",
        "name": "",
        "group": "ebebf10769c21b34",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 240,
        "wires": []
    }
]